@icon-size: 24px;

@desktop-gutter: 24px;
@desktop-gutter-more: 32px;
@desktop-gutter-less: 16px;
@desktop-gutter-mini: 8px;
@desktop-keyline-increment: 64px;
@desktop-drop-down-menu-item-height: 32px;
@desktop-drop-down-menu-font-size: 15px;
@desktop-left-nav-menu-item-height: 48px;
@desktop-subheader-height: 48px;
@desktop-toolbar-height: 36px;




