.mui-drop-down-menu {

  * { .ease-out(); }

  position: relative;
  display: inline-block;
  font-size: @desktop-drop-down-menu-font-size;

  &.mui-open {
    .mui-menu-control,
    .mui-menu-control:hover {
      .mui-menu-control-bg {
        opacity: 0;
      }
      .mui-menu-label {
        top: (@desktop-toolbar-height / 2);
        opacity: 0;
      }
    }

    .mui-menu {
      opacity: 1;
      margin-top: @desktop-toolbar-height;
    }
  }

  .mui-menu-control {
    cursor: pointer;
    .clearfix();
    height: 100%;

    .mui-menu-control-bg {
      background-color: @menu-background-color;
      height: 100%;
      width: 100%;
      opacity: 0;
    }

    &:hover {
      .mui-menu-control-bg {
        opacity: 1;
      }
    }

    .mui-menu-label {
      line-height: @desktop-toolbar-height;
      position: absolute;
      padding-left: @desktop-gutter;
      top: 0;
      opacity: 1;
    }

    .mui-menu-drop-down-icon {
      position: absolute;
      top: ((@desktop-toolbar-height - 24px) / 2);
      * {
        fill: @drop-down-menu-icon-color;
      }
    }

    .mui-menu-control-underline {
      border-top: solid 1px @border-color;
      margin: 0 @desktop-gutter;
    }
  }

  .mui-menu {
    .mui-menu-item {
      padding-right: (@icon-size + @desktop-gutter-less + @desktop-gutter-mini);
      height: @desktop-drop-down-menu-item-height;
      line-height: @desktop-drop-down-menu-item-height;
      white-space: nowrap;
    }
  }

  .mui-menu-profile-image {
    border-radius: 50%;
    height: 26px;
  }

}
